page {
    background-color: $u-bg-color;
    font-size: 28rpx;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: theme('fontFamily.sans')
}

.u-btn--default {
    color: #101010 !important;
    font-weight: 500 !important;
}

.u-btn--default::after {
    border: 1px solid #EAEAEA !important;
}

uni-modal {
    z-index: 999999 !important;
}

button::after {
    border: initial;
}
